@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.prettyPhoto.js"></script>
<script src="~/Scripts/jquery.isotope.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/jquery.js"></script>
<br />
<br />
<br />
<br />

<div style="background-color:#0A3BA2; position:fixed; height:30px; width:100%">
    <img src="~/Images/spacer.gif" style="height:100%; width:23px" />
</div>
<br />

<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>Our Approach</h2>
            <p class="lead">ICOM's primary goal is to serve and engage Muslims by establishing daily congregational prayers; promoting the progressive values, teachings and practices of Islam; 
            advocate interfaith harmony in a multicultural environment. <br />ICOM masjid is a place of worship, gathering, learning, sanctity, and a place of connecting with the Creator and the 
            community at large. Promote Islam as a true religion based on Quran and Sunnah; though means of engaging good conduct, good behavior and reaching out
             to all human beings with a message peace and prosperity for all.</p>

            <h2>Our Story</h2>
            <p class="lead">
                Inspired by the great environment in United States and bringing true peaceful, spiritual  and real message of Islam to our communities around.
                 <br />A place for worship and community get together was a dream by most of us living in neighborhood of Owings Mills. We started with Taraweeh prayer in 
                one of the member's house and saw passion and need in community for their own place. This is the motivation for this center.
            </p>
        </div>
        <div class="team">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h2>Meet the Team</h2>
                <p class="lead">Our team is dedicated to serve the community for the service to almighty Allah.<br />
                Unanimously we are agreed to serve and work with the community to be successful.</p>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="images/man1.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Javed Patel</h4>
                                <h5>President</h5>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="mailto:president@icommd.org"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p>Coordinating and leading all efforts at ICOM, bringing many years experience in leading a successful construction business. A motivated and inspirational entrepreneur.
                         Actively engaged in collaboration between the community in Owings Mills neighborhood.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="images/man2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Zahid Niaz</h4>
                                <h5>Treasure</h5>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="mailto:treasurer@icommd.org"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Leading efforts on all finances for the ICOM. Proved experience working with non-profits and experienced Business Analyst.
                            Vast experience in working with multi-cultural and communities around the United States.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-profile-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInDown;">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img class="media-object" src="images/man2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4>Shafiq Rahman</h4>
                                <h5>Operations, Tech/Comm</h5>
                                <ul class="social_icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="mailto:operations@icommd.org"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Experienced Information Technology Management professional, wide experience in Education, healthcare organizations and national/international level education Assessments.
                            Focused on development of our youth. Degrees in Business and Technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

        $(document).ready(function () {
            $(".nav li").removeClass("active");//this will remove the active class from
            $('#lAbout').addClass('active');
        });
</script>
