@{
    ViewBag.Title = "Contact";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/expressive.annotations.validate.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/wow.min.js"></script>
@*<script src="~/Scripts/main.js"></script>*@


<br />
<br />
<br />
<br />



<div style="background-color:#0A3BA2; position:fixed; height:30px; width:100%">
    <img src="~/Images/spacer.gif" style="height:100%; width:23px" />
</div><br />
<section style="padding-top:30px;padding-bottom:10px;" id="contact-info">
    <div style="padding-bottom:10px" class="center">
        <h2>How to Reach Us?</h2>
        <p class="lead">@ViewBag.Message</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3081.37594942811!2d-76.7768456846336!3d39.43823397949082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c816f9f04154cf%3A0x85977e65ff8176fa!2sIslamic+Center+of+Owings+Mills!5e0!3m2!1sen!2sus!4v1488682889493" width="600" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
                <div style="list-style: none;font-weight:700; padding-top:30px; padding-left:50px; font-size:12pt;" class="col-sm-5 text-center">
                    <ul style="list-style: none;width:95%; padding-top:0px; padding-left:10px; text-align:left" class="row">
                        <li style="width:95%;" class="col-sm-6">
                            <address>
                                <p>Islamic Center of Owings Mills</p>
                                <p>
                                    11436 Cronhill Dr, Unit 4A <br>
                                    Owings Mills, MD 21117
                                </p>
                                <p>
                                    Phone:<a href="tel:+1(443) 738-5553"> +1(443) 738-5553</a> <br>
                                    Email Address:<a href="mailto:info@icommd.org"> info@icommd.org</a>
                                </p>
                                <p>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdOPqFCBQNUANCupB9ZGhZnl4zadxII-WMIj8mky_SaWSBKhg/viewform?c=0&w=1">Click Here to Volunteer</a>
                                </p>
                                <div style="padding-top:0px; padding-left:0px;" class="team">
                                    <ul class="social_icons">
                                        <li><a href="https://www.facebook.com/ICOMMD/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/icom_md"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/icom-md-0a2068139/"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://plus.google.com/u/0/110477846453093093033"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>

                            </address>
                        </li>
                    </ul>
                </div>
                <div style="background-color:#F1E872; border-radius:5px;font-weight:bold; padding-top:0px; padding-left:0px; font-size:13pt;" class="col-sm-5">
                    <form style="padding-left:50px; font-size:13pt;" class="contact-form" role="form" id="main-contact-form">
                        <p style="text-align:center">Drop Your Message</p>
                        @*<div  style="font-size:9pt; color:red" class="error">  </div>*@
                        <div style="font-size:9pt; color:red" class="error" hidden="hidden" id="ErrorMsg" ></div>


                        <div style="width:90%; font-size:10pt">
                            <div class="form-group">
                                <input type="text" id="FullName" name="FullName" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                @*<label>Email *</label>*@
                                <input type="email" id="Email" name="Email" class="form-control" placeholder="Email" >

                            </div>
                            <div class="form-group">
                                <textarea name="Message" id="Message" class="form-control" placeholder="Message" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" name="btnSendForm" id="btnSendForm" class="btn btn-primary btn-lg">Send Message</button>
                            </div>
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
</section>
<script>

        $(document).ready(function () {
            $(".nav li").removeClass("active");//this will remove the active class from
            $('#lContact').addClass('active');



        });
            $('#main-contact-form').validate({
                rules: {
                    // simple rule, converted to {required:true}
                    FullName: "required",
                    Message: "required",
                    // compound rule
                    Email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    FullName: "Full Name is required.",
                    Message: "Email Address is required.",
                    Email: {
                        required: "Email Address is required.",
                        email: "Email Address format: name@domain.com"
                    }
                },
                errorLabelContainer: "#ErrorMsg",
                wrapper: "li",
                
                submitHandler: function (e) {

                    var datastring = $(e).serialize();
                    $.post('@Url.Action("/SendContact")', datastring, function (data) {
                       alert(data);
                        $('#Message').val("");
                        $('#Phone').val("");
                        $('#Email').val("");
                        $('#FullName').val("");
                    }, 'json');

                   
                }
            });

</script>
