
@{
    ViewBag.Title = "Donations";
}
@section scripts{


    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".nav li").removeClass("active");//this will remove the active class from
            $('#lDonate').addClass('active');

        });

    </script>


}
<br />
<br />
<br />
<br />

<div style="background-color:#0A3BA2; position:fixed; height:30px; width:100%; z-index:78">
    <img src="~/Images/spacer.gif" style="height:100%; width:23px" />
</div>
<br />
<section style="background-image:url(../../Content/images/slider/bg6.png); background-size:cover; padding-top:10px; width:100%; color:#fff" id="donate-expand">

    <section style="background-size:cover; padding-top:10px; width:100%; color:#fff" id="about-us">
        <div class="container">
            <div style="padding-top:50px; width:100%" class="center wow fadeInDown">
                <h1 style="color:#fff">Masjid Expansion</h1>
                <div style="color:#fff; top:-100px; font-size:12pt;padding-bottom:5px">
                    <i style="font-size:8pt; color:#fff" class="fa fa-quote-left"></i>
                    <span style="color:coral; font-weight:bold">
                        Those who (in charity) spend of their goods by night and by day, in secret and in public, have their reward with their Lord: on them shall be no fear, nor shall they grieve.
                    </span>
                    <i style="font-size:8pt; color:#fff;" class="fa fa-quote-right"></i> -
                    <span style="font-size:10pt"><strong>Quran</strong> 2:274</span>
                </div>
                <div style="font-size:12pt;padding-top:1px">
                    Alhamdulillah the Islamic Center of Owings Mills (ICOM) Management team has signed the contract to acquire a bigger space (Unit 2 and 3) right next to the current rental location (Uniy 4a) and we have 90 days to close it.
                    <br />
                    <div id="thumbwrap">
                        <a class="thumb" href=""><img class="donate-image-container" src="~/Content/images/masjigexpansion1.jpeg" alt=""><span><img src="~/Content/images/masjigexpansion1.jpeg" alt=""></span></a>
                        <a class="thumb" href=""><img class="donate-image-container" src="~/Content/images/masjidexpansion2.jpeg" alt=""><span><img src="~/Content/images/masjidexpansion2.jpeg" alt=""></span></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section style="background-size:cover; padding-top:10px; width:100%; color:#fff">
        <div style="margin-left:auto;margin-right:auto;top:-150px; " class="container">
            <div style="padding-top:50px; width:100%" class="center wow fadeInDown">
                <p>
                    The total cost of this space would be $750,000. We have about $250,000 at hand and we need to raise at least $500,000 in order to be able to close the deal so we need everyone's help in making it happen. Please donate generously and spread the word so that we could better serve the community in the area and expand our services and operations.
                </p>
                Your donations will directly go to ICOM, which is a registered Non-Profit organization.
                Requesting all community members to remember us in your prayers...Jazak Allah Khair!
                <br />
                <br /> <br /> <br /> For online preference, your check out transaction is safe and secured by any of the providers below:
                <div style="margin-left:auto;margin-right:auto;top:-150px; " class="donate-partners">
                    <a href="https://services.madinaapps.com/donation/clients/Wkd4d2IxSkdaRlJOVkVVOQ==">
                        <img style="width:250px; display:inline" class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="~/Content/images/Donatemadinaapps.png">
                    </a>
                    <a href="https://www.gofundme.com/f/icom-acquisition-of-larger-masjid-space?pc=pd_personal_url&rcid=r01-156527978003-6b8c9de45d604bb9">
                        <img style="width:250px" class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="~/Content/images/gfmlogoem2.png">
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>








