@{
    ViewBag.Title = "FAQ";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.prettyPhoto.js"></script>
<script src="~/Scripts/jquery.isotope.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/wow.min.js"></script>
<script src="~/Scripts/jquery.js"></script>
<br />
<br />
<br />
<br />


<div style="background-color:#0A3BA2; position:fixed; height:30px; width:100%">
    <img src="~/Images/spacer.gif" style="height:100%; width:23px" />
</div>
<br />

<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
            <h2>Frequently Asked Questions (FAQ)</h2>
            <h3 style="font-weight:bold">What's your vision for the ICOM?
                <p class="paragrah">A place for the community to collaborate and grow together.</p>
          
            </h3>


            <h3 style="font-weight:bold">When is the estimated opening for the Center?
                <p class="paragrah">We are working very hard to open center for community by the last week of March Insha Allah.</p>
            </h3>


            <h3 style="font-weight:bold">Where should we route if we have any questions?
                <p class="paragrah">Please call the number above or email us at <a href="mailto:info@icommd.org">info@icommd.org</a>.</p>
            </h3>


            <h3 style="font-weight:bold">Where should we send our donations?
                <p class="paragrah">
                    Click <a href="Index#Donations">HERE</a>. You can also mail/drop a cheque at the masjid location: <br />
                    <div style="font-weight:bold">
                        11436 Cronhill Dr, UNIT 4A, <br />
                        Owings Mills, MD 21117
                    </div> 

                    <span class="paragrah">   Please call the number above or email us at <a href="mailto:info@icommd.org">info@icommd.org</a> for more information on donations.</span>

                </p>
           </h3>

        </div>
    </div>
</section>
<script>

        $(document).ready(function () {
            $(".nav li").removeClass("active");//this will remove the active class from
            $('#lFAQ').addClass('active');
        });
</script>
